---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  selectedItem?: string;
  canonical?: string;
  prevHref?: string;
  nextHref?: string;
  jsonLd?: any;
  description?: string;
  image?: string;
  type?: 'website' | 'article' | 'profile';
  publishedTime?: Date | string;
  modifiedTime?: Date | string;
  tags?: string[];
  author?: string;
}

const { 
  title, 
  selectedItem, 
  canonical, 
  prevHref, 
  nextHref, 
  jsonLd,
  description,
  image,
  type,
  publishedTime,
  modifiedTime,
  tags,
  author
} = Astro.props as Props;
---

<!DOCTYPE html>
<html>
  <Header 
    title={title} 
    canonical={canonical} 
    prevHref={prevHref} 
    nextHref={nextHref} 
    jsonLd={jsonLd}
    description={description}
    image={image}
    type={type}
    publishedTime={publishedTime}
    modifiedTime={modifiedTime}
    tags={tags}
    author={author}
  />
  <body>
    <div class="content">
      <Sidebar selectedItem={selectedItem} />
      <nav class="main">
        <div class="container">
          <slot />
        </div>
        <Footer />
      </nav>
    </div>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
  
</html>

